@font-face {
  font-family: "Gelion Black";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion Regular.woff") format("woff");
}
* {
  font-family: "Gelion Black", sans-serif;
}
body {
  margin: 0;
  font-family: "Gelion Black", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:focus {
  outline: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
